body{
    background-size:cover;
    background-position: center;
}
h1{
    font-family: 'Dancing Script', cursive;
    font-size:50px;
    width: 20%;
}
#icon{
    height: 20px;
}
#ear{
    width: 10%;
}
h3{
    margin: 25px;
}

#show_sketch{
    width: 10%;
}

canvas{
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top:150px;
    float: right;
    margin-top: -500;
    margin-right: 30px;
}

@keyframes example{

    from{box-shadow: 3px 3px 38px rgb(5, 5, 5)} 
    to{box-shadow: 3px 3px 100px rgb(0, 0, 0)} 
}